/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */
* {
    font-family: 'Merriweather', serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
<!-- white-space: nowrap;
--> display: flex;
    flex-wrap: wrap;


}

h1, h2, h3, h4, h5, h6, button, p, a {
    font-family: 'Roboto', serif;
}

header, section footer {
    width: 100%;
<!-- height: 100 %;
-->
}


/* ------------------------------- 2. Typography ----------------------------------- */


/* ------------------------------- 3. Layout --------------------------------------- */


/* --------------- 3.1 Reusables ----------------------- */


.blue-container {
    background: rgb(72, 69, 228);
    background: linear-gradient(90deg, rgba(72, 69, 228, 1) 0%, rgba(87, 34, 205, 1) 100%);
    color: white;

}

.button-color-red {
    background-color: #ED4385;
}

.small-margin {
    margin: 2%;
}

.space-between-borders {
    padding: 80px;
}

.black-text-coding {
    font-weight: bold;
}

.hyperlink-text-coding {
    text-decoration: none;
    color: #4845E4;
}

.project-uppercase {
    text-transform: uppercase;
    font-weight: bold;

}

.border-padding-images {
    margin: 50px 0;
}

.border-margin-image-text {
    margin: 4% 40px;
}

.img {
    width: 100%;
    height: auto;
}

.img-small {
    width: 30%;
    height: auto;
}

.img-small-squiggle {
    width: 15%;
    height: auto;
}

.outer-container-column {
    display: flex;
    flex-direction: column;
}

.outer-container-row {
    display: flex;
    flex-direction: row;

}

.inner-container-column {
    display: flex;
    flex-direction: column;
    padding-left: 1%;
    padding-top: 4%;

}

.padding-between-boxes {
    padding: 1% 1%;
}

.shadow-box {
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.service-shadow-box {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

/* --------------- 3.2 Other --------------------------- */


/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */
.ul-flex-end {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    padding-bottom: 30px;


}

.li-border {
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    text-decoration: none;
    color: white;

}

.universal-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.button-padding {
    padding: 15px 30px;
    border-radius: 60px;
    border: none;
    background-color: #ED4385;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.button-padding-send {
    padding: 15px 60px;
    border-radius: 60px;
    border: none;
    background-color: #ED4385;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    color: white;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.squiggle-relative {
    position: relative;
    bottom: 0;
    left: calc(50% - 50px);
}

/* --------------- 4.2 Introduction ------------------- */

.introduction-text-color {
    color: #4845E4;
    padding: 20px 0;

}

/* --------------- 4.3 projects ------------------- */

.grey-background {
    background-color: #F3F6F9;
}

.section-flexbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.section-flexbox-reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

}

.image-wrapper {
    flex-basis: 800px;
    flex-grow: 0;
    flex-shrink: 1;
}


/* --------------- 4.4 info plus logo ------------------- */

.blue-column {

    border: 1px ridge #4845E4;
    display: inline-block;
    width: 30%;
    margin: 20px;
    aspect-ratio: 0.5 /0.5;


}

.blue-header {
    color: #4845E4;
}

.grey-text {
    color: #7A7A7A;
}

/* ------------------------------- 4.5. form -------------------------------- */
.form-column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;


}

.form-borders {
    padding: 1% 15%;
}


.form-view {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;

}

.form-container-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    resize: none;
}

.padding-border-top {
    padding-top: 10%;
}

.padding-border {
    padding: 10% 0;
}

::placeholder {
    color: grey;
    text-decoration: none;
}

/* ------------------------------- 4.6. Footer -------------------------------- */

.footer-background {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2% 0;
}

/* ------------------------------- 5. Media Queries -------------------------------- */


h1 {
    font-size: 3.9vw;

}

h3 {
    font-size: 2.3vw;
}

p, a, nav, label, input, textarea {
    font-size: 1.3vw;
    min-font-size: 1.3vw;

}
